<p id="notice"><%= notice %></p>

<h1>Report Movements</h1>
<!-- <%= form_tag reports_path, method: :get, class: "navbar-form" do %>
        <div class="form-group">
          <div class="field">
            <%= label :category_id, "Category" %><br>
            <%= collection_select :category, :category_id, @categories, :id, :description, {}, class: "form-control" %>
          </div>
          <div class="field">
            <%= label :account_id, "Account" %><br>
            <%= collection_select :account, :account_id, @accounts, :id, :description, {}, class: "form-control" %>
          </div>
          <div class="field">
            <%= label :month_id, "Month" %><br>
            <%= collection_select :month, :month_id, @months, :id, :description, {}, class: "form-control" %>
          </div>
          <%= button_to "Buscar", nil, class: "btn btn-default" %>
        </div>
<% end %> -->
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Description</th>
      <th>Category</th>
      <th>Account</th>
      <th>Date</th>
      <th>Value</th>
      <th>Kind</th>
    </tr>
  </thead>

  <tbody>
    <% @movements.each do |movement| %>
      <tr>
        <td><%= movement.description %></td>
        <td><%= view_category movement.category_id %></td>
        <td><%= view_account movement.account_id %></td>
        <td><%= view_date movement.date %></td>
        <td><%= view_value movement.value %></td>
        <td><%= movement.kind %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
