<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @movement.description %>
</p>

<p>
  <strong>Category:</strong>
  <%= @movement.category_id %>
</p>

<p>
  <strong>Account:</strong>
  <%= @movement.account_id %>
</p>

<p>
  <strong>Date:</strong>
  <%= @movement.date %>
</p>

<p>
  <strong>Value:</strong>
  <%= @movement.value %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @movement.kind %>
</p>

<%= link_to 'Edit', edit_movement_path(@movement) %> |
<%= link_to 'Back', movements_path %>
