<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @budget.user_id %>
</p>

<p>
  <strong>Revenue:</strong>
  <%= @budget.revenue %>
</p>

<p>
  <strong>Expense:</strong>
  <%= @budget.expense %>
</p>

<p>
  <strong>Date:</strong>
  <%= @budget.date %>
</p>

<%= link_to 'Edit', edit_budget_path(@budget) %> |
<%= link_to 'Back', budgets_path %>
